@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
    border: 0.25em solid #1140de;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(120 100% 10% / 1);
}
::-webkit-scrollbar:horizontal {
    display: none;
}

.heading {
    font-family: "Josefin Sans", sans-serif;
}

.banner {
    background-image: url("./static/images/uae.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bgdubai {
    background-image: url("./static/images/bgdubai.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bglogindubai {
    background-image: url("./static/images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.glass {
    backdrop-filter: blur(13px) saturate(107%);
    -webkit-backdrop-filter: blur(13px) saturate(107%);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.switch[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.forswitch {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.forswitch:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.switch:checked + label {
    background: #ff3b00;
}

.switch:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.forswitch:active:after {
    width: 40px;
}
.card {
    backdrop-filter: blur(5px) saturate(100%);
    -webkit-backdrop-filter: blur(5px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.49);
    /* border-radius: 12px; */
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.registercard {
    backdrop-filter: blur(8px) saturate(134%);
    -webkit-backdrop-filter: blur(8px) saturate(134%);
    background-color: rgba(17, 25, 40, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.loginCard {
    background: rgba(255, 255, 255, 0.55);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.specialoffer {
    background-image: url("./static/images/specialoffer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.combooffer {
    background-image: url("./static/images/combo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lightglass {
    background: rgba(131, 117, 117, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* border-radius: 10px; */
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.visabanner {
    background-image: url("./static/images/visavisa.png");
}

.modal_overlay {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}
